@model QuelloStore.ViewModels.RegistroVM
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="container">
    <div class="row justify-content-center my-3">
        <h1 class="display-5 text-center">Quello Store</h1>
        <div class="col-lg-8">
            <div class="card shadow-lg">

            </div>
        </div>
    </div>
</div>