@using Microsoft.AspNetCore.Identity
@inject QuelloStore.Data.AppDbContext _db
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@{
    var user = UserManager.GetUserName(User);
    var usuario = _db.Usuarios.FirstOrDefault(u => u.UserName == user);
}

@if (!SignInManager.IsSignedIn(User))
{
    <a asp-action="Login" asp-controller="Account" class="me-2">
        <img src="~/img/usuarios/no-photo.png" width="40" height="40" class="object-fit-cover rounded-5">
    </a>
}
else
{
    <div class="nav-item dropdown me-2">
        <button class="nav-link text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src='@(usuario.Foto ?? Url.Content("~/img/usuarios/no-photo.png"))' width="40" height="40" class="object-fit-cover rounded-5">
        </button>
        <ul class="dropdown-menu" style="position: absolute!important; margin-left: -200px!important; width: 250px;">

        </ul>
    </div>
}
